#!/bin/sh
export USERXSESSION=$XDG_CACHE_HOME/x11/xsession
export USERXSESSIONRC=$XDG_CACHE_HOME/x11/xsessionrc
export ALTUSERXSESSION=$XDG_CACHE_HOME/x11/Xsession
export ERRFILE=$XDG_CACHE_HOME/x11/xsession-errors

hsetroot -solid '#eee8d5'
picom -b
xrdb -load ~/.config/X11/Xresources
xinput --set-prop 14 304 -0.5 # set mouse speed
